<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoHallCI</servlet-name>
    <servlet-class>com.jiayifan.controller.GoHallCI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoHallCI</servlet-name>
    <url-pattern>/GoHallCI</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ShoppingCI</display-name>
    <servlet-name>ShoppingCI</servlet-name>
    <servlet-class>com.jiayifan.controller.ShoppingCI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCI</servlet-name>
    <url-pattern>/ShoppingCI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoMyOrderCI</display-name>
    <servlet-name>GoMyOrderCI</servlet-name>
    <servlet-class>com.jiayifan.controller.GoMyOrderCI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoMyOrderCI</servlet-name>
    <url-pattern>/GoMyOrderCI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitOrderCI</display-name>
    <servlet-name>SubmitOrderCI</servlet-name>
    <servlet-class>com.jiayifan.controller.SubmitOrderCI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitOrderCI</servlet-name>
    <url-pattern>/SubmitOrderCI</url-pattern>
  </servlet-mapping>
</web-app>